*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
   margin-top: -12px;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  inline-size: 1140px;
  gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  gap: 40px;
}

.content__list-container {
  block-size: 298px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.content__details {
  block-size: 100%;
  padding-top: 26px;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  gap: 26px;
}

.result__video-container {
  margin-bottom: 16px;
  inline-size: 711px;
  block-size: 386px;
  position: relative;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  display: block;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content__list-item {
  padding: 0 3px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}


.content__video-card {
  display: flex;
  align-items: flex-start;
  gap: 6px;
}

.content__video-card-thumbnail {
  min-inline-size: 194px;
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
  display: block;
}

.content__video-card-description-container {
  flex-grow: 1;
  min-inline-size: 0;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1;
  margin-bottom: 5px;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 0.94;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 0;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 6px;
}

.content__video-card-description {
  line-height: 0.9;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  gap: 14px;
}

.search-form__fieldset {
  border: 0;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
  cursor: pointer;
}

.search-form__textfield {
  inline-size: 225px;
  block-size: 27px;
  font-family: inherit;
  line-height: 1.2;
  color: #fff;
  background-color: transparent;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 2px 0;
  appearance: none;
  cursor: text;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(.search-form__textfield:focus-visible),
.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__pseudo-checkbox {
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #fff;
  padding: 1px;
  display: flex;
}

.search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  inline-size: 100%;
  block-size: 100%;
  background-color: #fff;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.button {
  font-family: inherit;
  font-size: inherit;
  line-height: 1.2;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  padding: 0;
  cursor: pointer;
}

.search-form__submit-button {
  inline-size: 194px;
  block-size: 34px;
  align-self: flex-end;
}

.more-button {
  inline-size: 100%;
  block-size: 34px;
}

.button:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.preloader {
  position: relative;
  inset: 0;
  z-index: 2;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
